:root {
    --white: white;
    --black: black;
    --chosen: transparent;
    --chosen-alt: transparent;
}

* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    overflow: auto;
    background-color: lightgray;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#header > a {
    text-decoration: none;
    color: var(--black);
}

#wrapper {
    margin-top: 40px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

} 

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.student {
    padding: 10px;
    border: 5px solid lightgray;
    background-color: var(--white);
}

.student > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.course {
    border: solid 3px lightgray;
    border-radius: 5px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

} 

.passed {
    background-color: green;
}
