body {
    height: 100vh;
    background-color:aliceblue;
}

#header {
}

#wrapper {
    margin: 30px;
}

.course {
    border: solid 1px skyblue  ;
    height: 100%;
    padding: 10px;
    margin-top: 10px;

}

.teacher {
    border: solid 1px skyblue  ;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
}

#courseresponsible {
    border: solid 1px skyblue  ;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
}

#teachers {
    border: solid 1px skyblue  ;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
}


.passed {
    background-color: lightgreen;
}

p {
    margin: 0;
}

#text {
    display: none;
}